@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
/* font link*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    width: 100%;
    height: 100%;
    font-family: kumbh sans;
}

#header2 {
    display: none;
}

/* desktop header*/

header {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
    font-size: 20px;
}

#menus {
    display: flex;
    gap: 15px;
}

/*hamburger && brand-name container*/

#avatarcart {
    display: flex;
    gap: 15px;
}

/*cart && avatar container*/

#menu:hover {
    cursor: pointer;
}

/*hamburger*/

#cart {
    cursor: pointer;
}

#avatar:hover {
    cursor: pointer;
    border: 1px solid hsl(26, 100%, 55%);
    border-radius: 50%;
}

#container {
    width: 100%;
    font-family: kumbh sans;
    font-size: 16px;
    font-size: 25px;
}

h6 {
    margin: 10px 15px;
    font-weight: 700;
    color: hsl(219, 9%, 45%);
}

h2 {
    margin: 10px 15px;
}

#writeup {
    margin: 10px 15px;
    font-weight: 400;
    font-size: 22px;
    color: hsl(219, 9%, 45%);
}

#amount {
    display: flex;
    justify-content: space-between;
    margin: 10px 15px;
}

#amount p span {
    font-weight: 700;
}

#amount del {
    font-weight: 400;
    color: hsl(219, 9%, 45%);
}

#percent {
    background-color: black;
    color: white;
    border-radius: 20%;
    padding: 3px 5px;
    font-size: smaller;
}

#additionsection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin: 15px 15px;
    background-color: hsl(223, 64%, 98%);
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
}

#minus:hover {
    cursor: pointer;
}

#plus:hover {
    cursor: pointer;
}

#submit {
    width: 93%;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: hsl(26, 100%, 55%);
    margin: 25px 10px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    box-shadow: 0px 1px 10px hsl(26, 100%, 55%);
    font-size: 20px;

}

/*(add to cart)button*/

#submit:hover {
    cursor: pointer;
    background-color: hsl(26, 78%, 57%);
}

#pictures {
    display: none;
}

/*desktopview thumbnails*/

#hambugermenus {
    height: 100vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    z-index: 10;
}

/*mobile menu toogle container*/

#hambugermenus span {
    padding: 10px 25px;
}

#hambugermenu {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 10px 25px;
    list-style: none;
    font-weight: 700;
    font-size: 20px;
}

/*mobile menu toogle list*/

#hambugermenus {
    display: none;
}

/*mobile menu toogle container*/

#control1 {
    background-color: white;
    position: absolute;
    left: 5px;
    top: 180px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
}

/*carousel control 1*/

#control2 {
    background-color: white;
    position: absolute;
    right: 5px;
    top: 180px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
}

/*carousel control 2*/

#cartbox {
    background-color: white;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    border-radius: 10px;
    margin: 10px;
    position: absolute;
    top: 85px;
    display: none;
}

h3 {
    border-bottom: 1px solid;
    padding: 10px 17px;
    font-size: 28px;
}

#status {
    font-weight: 700;
    display: flex;
    justify-self: center;
    align-self: center;
    /* height: 50px; */
    /* text-align: center; */
    /* margin-top: 55px; */
    /* border: 1px solid; */
}

/*epmty cart declaration*/

#cartdisplaydiv {
    display: flex;
    justify-content: space-between;
    margin: 5px 17px;
    visibility: hidden;
}

/*cartbox content div*/

#productimage {
    border-radius: 10px;
}

#checkout {
    height: 40px;
    border-radius: 7px;
    border: none;
    background-color: hsl(26, 100%, 55%);
    margin: 7px 17px;
    font-size: 25px;
    visibility: hidden;
}

/*checkout button*/

#checkout:hover {
    cursor: pointer;
    background-color: hsl(26, 78%, 57%);
}

#rites {
    font-size: 22px;
    color: hsl(219, 9%, 45%);
    padding: 0px 7px;
}

/*cartbox content*/

#rite {
    font-size: 22px;
    color: hsl(219, 9%, 45%);
    padding: 0px 7px;
}
#ritess {
    font-size: 25px;
}

/*cartbox content*/

#cartts {
    position: relative;
    cursor: pointer;
}

/*cart-image && cart quantity number container for mobile header*/

#cartnum {
    background-color: hsl(26, 100%, 55%);
    padding: 5px;
    font-size: 10px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
    display: none;
}

/*cart quantity number*/

#picturewrap1 {
    display: flex;
    width: 100%;
    overflow: hidden;
}

/*image frame*/

#picturewrap {
    display: flex;
    transition: all 1s ease;
}

/*image carousel container*/

.image {
    width: 100vw;
    height: 300px;
    object-fit: fill;
}

#previewcontainer {
    display: none;
}

/*desktop image preview container*/


@media screen and (min-width: 765px) {
    body {
        width: 100%;
        /* height: 100%; */
        display: flex;
        flex-direction: column;
        align-items: center;
        /* border: 3px solid; */
    }

    #head {
        display: none;
    }

    #header2 {
        display: flex;
        font-size: 20px;
        width: 95%;
        border-bottom: 1px solid;
    }

    #menuspan {
        display: flex;
        align-items: center;
        width: 70%;
        gap: 30px;
        color: hsl(219, 9%, 45%);
        font-size: 20px;
        /* border: 1px solid; */
    }
    .nav:hover {
        border-bottom: 3px solid hsl(26, 100%, 55%);
        cursor: pointer;
        padding-bottom: 8px;
    }
    #cartt {
        position: relative;
    }

    #avatarcart {
        gap: 45px;
        cursor: pointer;
        /* border: 1px solid; */
    }
    #cartnum2 {
        background-color: hsl(26, 100%, 55%);
        padding: 5px;
        font-size: 10px;
        height: 20px;
        border-radius: 50%;
        position: absolute;
        top: -5px;
        right: -5px;
        display: none;
    }
    #container {
        display: flex;
        justify-content: space-between;
        /* align-self: center; */
        width: 90%;
        /* border: 2px solid; */
    }
    #picture {
        width: 100%;
        /* border: 1px solid; */
    }
    #writeups {
        display: flex;
        flex-direction: column;
        justify-content: right;
        width: 100%;
        margin-top: 95px;
        /* padding: 10px 105px; */
        /* border: 1px solid; */
    }
    #control1, #control2 {
        display: none;
    }
    #pictures {
        display: flex;
        justify-content: flex-start;
        gap: 50px;
        padding-left: 15px;
        /* border: 1px solid; */
    }
    #picturewrap1 {
        width: 550px;
        height: 500px;
        margin: 30px 5px;
    }
    .image {
        height: 490px;
        width: 550px;
        border-radius: 10px;
    }
    .thumbnail {
        border-radius: 10px;
    }
    .thumbnail:hover {
        cursor: pointer;
        filter: opacity(0.8);
    }
    #foot {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* border: 1px solid; */
    }
    #additionsection {
        width: 50%;
        height: 70%;
    }
    #submit {
        width: 100%;
        height: 70%;
    }
    #amount {
        display: flex;
        flex-direction: column;
        height: 15%;
        /* border: 1px solid; */
    }
    #cartbox {
        top: 45px;
        right: 20px;
        width: 30%;
        background-color: white;
        box-shadow: 5px 5px 5px gray;
    }
    h3 {
        padding: 25px 13px;
    }
    #cartdisplaydiv {
        padding: 10px 0px;
    }
    #checkout {
        margin-bottom: 23px;
    }




    h6 {
        font-size: 20px;
    }
    h2 {
        font-size: 50px;
    }
    #writeup {
        font-size: 20px;
    }
    #price {
        font-size: 30px;
    }
    del {
        font-size: 22px;
    }

    #previewcontainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: #000000d2;
        display: none;
    }

    /*desktop image preview container*/

    .arrow {
        background-color: black;
        border: 2px solid;
        cursor: pointer;
    }

    #frame {
        width: 450px;
        height: 450px;
        overflow: hidden;
    }

    #slide {
        display: flex;
        transition: all 1s ease;
    }

    .imagess {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: contain;
    }

    #thumbnailss {
        display: flex;
        gap: 20px;
    }
    .thumbnail:hover {
        cursor: pointer;
        filter: opacity(0.5);
    }
    #nextprev {
        width: 480px;
        display: flex;
        justify-content: space-between;
        position: absolute;
    }

    /*carousel control div for desktop preview*/

    #prev {
        padding: 5px;
        border-radius: 30%;
        background-color: aliceblue;
        cursor: pointer;
    }

    #prev:hover {
        background-color: hsl(26, 78%, 57%);
    }

    /*carousel control 1 for desktop preview*/

    #next {
        padding: 5px;
        border-radius: 30%;
        background-color: aliceblue;
        cursor: pointer;
    }

    #next:hover {
        background-color: hsl(26, 78%, 57%);
    }

    /*carousel control 2 for desktop preview*/

    #section {
        position: relative;
    }
    #close {
        position: absolute;
        justify-self: center;
        top: -30px;
        border-radius: 50%;
        padding: 5px;
    }

    /*carousel close icon for desktop preview*/

    #close:hover {
        cursor: pointer;
        background-color: hsl(26, 100%, 55%);
    }



    .active {
        border: 4px solid hsl(26, 100%, 55%);
        border-radius: 10px;
        filter: opacity(0.3);
    }
}